/* css file for login,language,MicSearch */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap');
*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Ariel', sans-serif;
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: rgb(37, 36, 36);
    color: white;
}
header{
    width: 100%;
    height: 100vh;
    /* border: 1px solid black; */
    display: flex;
    flex-wrap: wrap;
    color: white;
}
header i{
    font-size: 40px;
    color: black;
}
/* header .circle2{
    height: 140px;
    width: 140px;
    border: -webkit-radial-gradient(circle, hsla(0, 100%, 50%, 1) 40%, hsla(0, 100%, 27%, 1) 100%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position:fixed;
    top: 41.5%;
    left: 45%;
    background: -webkit-radial-gradient(circle, hsla(0, 100%, 50%, 1) 40%, hsla(0, 100%, 27%, 1) 100%);;
}*/

header .circle1{
    height: 180px;
    width: 180px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position:fixed;
    top: 39.5%;
    left: 44%;
    background-color: rgb(179, 177, 177);
    border: gray;
} 

header .circle1 .circle2{
    height: 140px;
    width: 140px;
    background-color:gray;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .circle1 .circle2 .circle3{
    height: 100px;
    width: 100px;
    background-color:rgb(237, 9, 9);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}


